body {
  font-size: 120%;
  background: #F8F8FF;
  padding-top: 80px;
}


form, .content {
  width: 50%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #17628b;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #17628b;
  border: none;
  border-radius: 5px;
}
.error {
  width: 75%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: center;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}


.header{
  color: white;
  background-color: #17628b;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
} 


.header strong{
  padding-left: 20px;
}

h2{
  padding-left: 20px;
}

.header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}


.header nav{
  display: inline-block;
  
}

.header nav ul li{
  display: inline-block;
  margin: 0px 10px;
  font-size: larger;
}


.header nav ul li:last-of-type p{
  margin-right: 10px;
}